<footer class="footer margin-top-45vh" style="position: relative;">
    <div class="content has-text-centered color-white">
      <p>
        <strong class="color-white">MyHourBoost.com</strong> by <a href="https://lupucl.com">Lupu Claudiu</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
      </p>
    </div>
  </footer>