<!DOCTYPE html>
<html lang="en" class="bg-bluenew ">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="bg-bluenew">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <div class="container is-fluid has-text-centered" style="margin-top:28vh; margin-bottom: 150px">
        <div class="hero-title color-white">Whoops... This page <span class="color-grey bg-white">doesn't</span> exist.</div>
        <div class="hero-subtitle color-white">Go back and start idling! ;)</div>
        <div class="subtitle color-white">(If you think that's a mistake, contact the support)</div>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>