<!DOCTYPE html>
<html lang="en" class="bg-bluenew ">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="bg-bluenew">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>